<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home | The Wall</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/assets/js/messages.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <h1>Home</h1>
            <a href="/logout">Sign out</a>

            <form action="/get-messages" class="get_message" style="display: none;">
                <input type="submit">
            </form>

            <form action="/messages" method="POST" class="messages">
                <p class="response"></p>
                <h2>Write something:</h2>
                <textarea name="message" id="message" cols="35" rows="5" placeholder="What's on your mind?"></textarea>
                <input type="submit">
            </form>

            <div class="message_container" style="margin-left: 30px;">

<% if(locals.messages){ %>
    <% for(let i = 0; i < messages.length; i++){ %>
        <% let comments = (messages[i].comments) ? JSON.parse(messages[i].comments) : [] %>
                <div class="message_template">
                    <div>
                        <h3 class="author" style="display: inline;"><%= messages[i].posted_by %></h3>

        <% if(user_id == messages[i].user_id){ %>
                        <form action="/messages/delete" method="POST" style="display: inline;">
                            <input type="hidden" name="message_id">
                            <input type="submit" value="Delete this message" class="btn_message_delete">
                        </form>
        <% } %>
                        <p class="message_date" style="color: grey; margin-top: 0px;"><%= messages[i].created_at %></p>
                        <p class="message_content"><%= messages[i].message %></p>
                    </div>

                    <div class="comment_container" style="margin-left: 30px;">

        <% for(id in comments){ %>
                        <div class="comment_template">
                            <h4 class="author" style="display: inline;"><%= comments[id][2] %></h4>
            
            <% if(user_id == comments[id][0]){ %>
                            <form action="/comment/delete" method="POST" style="display: inline;">
                                <input type="hidden" name="comment_id">
                                <input type="submit" value="Delete this comment" class="btn_comment_delete">
                            </form>
            <% } %>

                            <p class="comment_date" style="color: grey; margin-top: 0px;"><%= comments[id][3] %></p>
                            <p class="comment_content"><%= comments[id][1] %></p>
                        </div>
        <% } %>
                    </div>
    
                    <form action="/comments" method="POST" style="margin-left: 30px;">
                        <h5>Write a comment to this message:</h5>
                        <input type="hidden" name="message_id">
                        <textarea name="comment" id="comment" cols="35" rows="5" placeholder="Write a comment to this message"></textarea>
                        <input type="submit">
                    </form>
                </div>
    <% } %>
<% } %>
            </div>
        </div>
    </body>
</html>